<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">

<!-- <test name="firefoxTest">
	<parameter name="browser" value="firefox" />
		<classes>
			<class name="google.Youtube"/>
		</class>
	</classes>
</test> -->

<test name="ChromeTest">
	<parameter name="browser" value="chrome" />
		<classes>
			<class name="google.Youtube" />
		<!-- </class> -->
	</classes>
</test>

</suite> <!-- Default suite -->